body {
    background-image: url('./gradienta-m_7p45JfXQo-unsplash.jpg');
    background-position: left;
    background-attachment: fixed;
    max-width: 1000px;

}

.trivia-title {
    font-family: 'Nabla', cursive;
    font-size: 60px;
    margin: auto;
}


.questionbox {
    float: left; 
    border: 5px solid rgb(86, 52, 224);
    border: 5px solid rgb(247, 246, 250);
    padding: 50px;
    box-shadow: 10px 10px 5px 0px rgba(94, 97, 187, 0.75);
    border-radius: 10px;
    text-align: center;
    min-width: 20rem;
    max-width: 20rem;
    background-color: rgba(2, 15, 53, 0.799);
  }
  
  #container {
    padding: 65px;
  }
  
  .multipleChoiceContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
  }
  

  .choice-container {
    text-align: center;
    width: 90%;
    max-width: 10rem;
    min-width: 10rem;
    background-color: rgb(223, 92, 197);
    margin-bottom: 0.9rem;
    border-radius: 10px;
    padding: 20px;
    border: solid rgb(240, 179, 245);
  }
  


.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(110, 85, 218);
    transition: transform 150ms;
    transform: scale(1.02);
}


.choice-txt {
    text-align: center;
    font-family: 'Fresca', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    color:azure
}


h1 {
    font-family: 'Bubblegum Sans', cursive; 
    color:bisque
}

.scoreContainer {
    position: absolute;
    right:130px;
    top: 40px;
    
    
  }


.correct {
    background-color: lawngreen;
}

.incorrect {
    background-color: red;
}


#timer {
    position: absolute;
    top: 25%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    font-size: 1.6rem;
    color: azure;
    padding-right: 3rem;
    padding-bottom: 5rem;
  }
  


  #game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
  }
 
  
  
  
  