* {
    box-sizing: border-box;
    
}

body {
    background-image: url('./gradienta-m_7p45JfXQo-unsplash.jpg');
    background-position: left;
    background-attachment: fixed;
}

.trivia-title {
    font-family: 'Nabla', cursive;
    font-size: 120px;
    margin: auto;
}

.title-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 100px;
}

.howto-container {
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.h1-container {
    border: solid black;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(7, 7, 7);
}

.howitworks {
    text-align: center;
    color: white;
    font-size: 20px;
}


p {
    text-align: center;
    font-size: 18px;
    color: white;
}


.container {
    text-align: center ;
    padding-bottom: 100px;
}

img {
    width: 350px;
    height: 200px;
}

a {
    text-decoration: none;
    color: rgb(8, 8, 0); 
}


#bttn {
    font-size: 1.3rem;
    padding: 6px; 
    margin-top: 0.5rem;
    width: 8rem;
    font-weight: bold;
    background:linear-gradient(90deg, rgb(245, 7, 178) 0%, rgb(165, 166, 173) 100%);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#bttn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(119, 115, 115);
    transition: transform 150ms;
    transform: scale(1.07);
}

#bttn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


